.contServices{
    width: 100%;
    height: 100%;
    background-color: #101728;
    
    background-image: url('../../assets/platech3.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h3{
        font-size: 30px;
        color: #55B3D9;
    }
    .contEfect{
        width: 50%;
        height: 10%;
        background-color: #55B3D9;
        border-radius: 50%;
        filter: blur(140px);
    }
    .contBody{
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .contCard{
            width: 300px;
            height: 300px;
                            
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #FFFFFF;
            border-radius: 25px;
            .contCardHeader{
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                    background-color: #FFFFFF;
                }
                b{
                    font-size: 17px;
                    color: white;
                }
            }
            .contCardBody{
                width: 100%;
                height: 50%;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 17px;
                    color: white;
                    text-align: center;
                }
            }
            .contCardFooter{
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}